h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card{
   width: 300px;
   height: 400px;
   background-color: gold;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2px;
   border-radius: 15px;
}



.image img{
    width: 150px;
    height: 150px;
}